*{
    margin:0;
    padding:0;
}
.Encabezado{
    width:100%;
    height:60px;
    background-color:#0e811f;
    margin-bottom:40px;
}
img, video, object 
{
    height:36px;
    width:56px;
    padding-left:50px;
   padding-top:13px;
 
}
body
{
    font-family:Arial;
    background:#D8DEEA;
}
input[type=range] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 300px;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #329040;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}
.Chbox{
    margin-top:25px;
   padding-top:25px;
   font-size:14pt;
}
.Rbtn
{

   margin-top:25px;
   padding-top:25px;
   font-size:14pt;
}

h1{
    color:#000000;
    padding-left:15px;
    padding-top:20px;
    margin-left:15px;
    margin-top:20px;
}
.FormIdiomas
{
    width:645px;
    height:825px;
    margin-left:375px;
    margin-top:100px;
    margin-bottom:100px;
    background:#FFFFFF;
    border-radius: 10px 10px 10px 10px;
    overflow:no-content;
}
.FormProgramador
{
    width:645px;
    height:700px;
    margin-left:375px;
    margin-top:100px;
    margin-bottom:100px;
    background:#FFFFFF;
    border-radius: 10px 10px 10px 10px;
    overflow:no-content;
}
.FormCert{
    width:645px;
    height:330px;
    margin-left:375px;
    margin-top:100px;
    margin-bottom:100px;
    background:#FFFFFF;
    border-radius: 10px 10px 10px 10px;
}
.FormCursos{
    width:645px;
    height:300px;
    margin-left:375px;
    margin-top:100px;
    margin-bottom:100px;
    background:#FFFFFF;
    border-radius: 10px 10px 10px 10px;
}
.FormAptitud{
    width:645px;
     height:320px;
    margin-left:375px;
    margin-top:100px;
    margin-bottom:100px;
    background:#FFFFFF;
    border-radius: 10px 10px 10px 10px;
}
.FormEstudios{
     width:645px;
     height:320px;
    margin-left:375px;
    margin-top:100px;
    margin-bottom:100px;
    background:#FFFFFF;
    border-radius: 10px 10px 10px 10px;
}

.ContSlider {
    margin-top:30px;
    padding-top:30px;
    margin-left:30px;
    font-size:14pt;
    height: 75px;
}

.btn_Guardar{
    border: 1px solid #81A512;
    width:100px;
    height:40px;
     margin-left: 25px;
    margin-top:25px;
    background-color: #9eca16;
    font-size:14pt;
    color:#ffffff;
    font-family:sans-serif;
    text-align:center;
    border-radius: 5px 5px 5px 5px;
}
.btn_Guardar:hover{
     background-color:#81A512;
}
.btn_Cancelar{
    border: 1px solid #9c9c9c;
    width:100px;
    height:40px;
   margin-left: 25px;
    background-color:#dcdcdc;
    font-size:14pt;
    color:#333;
    font-family:sans-serif;
    text-align:center;
    border-radius: 5px 5px 5px 5px;
}
table
{
    margin-top:25px;
    margin-left:25px;
}
.txt
{
        width: 250px;
        height: 22px;
      
        padding: 0px 10px;

        margin: 10px 30px;
        color: #6d6d6d;
        text-align: left;
        font-family: sans-serif;
}

.btn_Cancelar:hover{
     background-color:#b2b2b2;
}
/*input[type=range]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}
input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}*/